In [1]:
import pandas as pd

In [2]:
pd.set_option("display.float_format", lambda x: '{:,.2f}'.format(x).replace(",", " "))

In [3]:
df = (pd
    .read_html(
        "https://www.resultats-elections.interieur.gouv.fr/presidentielle-2022/FE.html",
        thousands=" ",
        decimal=",",
    )
    [1]
    .assign(
        diff = lambda df_: (df_["Voix"]
            .rolling(window=2)
            .apply(lambda s : -(s.iloc[0] - s.iloc[1]))
        )
    )
)

df

         Liste des candidats     Voix  % Inscrits  % Exprimés          diff
0         M. Emmanuel MACRON  9560578       20.21       27.60           NaN
1          Mme Marine LE PEN  8109801       17.14       23.41 -1 450 777.00
2      M. Jean-Luc MÉLENCHON  7605492       16.08       21.95   -504 309.00
3            M. Éric ZEMMOUR  2442670        5.16        7.05 -5 162 822.00
4       Mme Valérie PÉCRESSE  1658376        3.51        4.79   -784 294.00
5           M. Yannick JADOT  1587541        3.36        4.58    -70 835.00
6           M. Jean LASSALLE  1095702        2.32        3.16   -491 839.00
7          M. Fabien ROUSSEL   799351        1.69        2.31   -296 351.00
8   M. Nicolas DUPONT-AIGNAN   718244        1.52        2.07    -81 107.00
9           Mme Anne HIDALGO   604202        1.28        1.74   -114 042.00
10        M. Philippe POUTOU   265826        0.56        0.77   -338 376.00
11      Mme Nathalie ARTHAUD   195893        0.41        0.57    -69 933.00

In [4]:
def fmt_pct(x):
    return '{:,.2%}'.format(x)

In [5]:
df.dtypes

Liste des candidats     object
Voix                     int64
% Inscrits             float64
% Exprimés             float64
diff                   float64
dtype: object

In [6]:
url_2017 = "https://www.interieur.gouv.fr/Elections/Les-resultats/Presidentielles/elecresult__presidentielle-2017/(path)/presidentielle-2017//FE.html"

df_2017 = (pd
    .read_html(
        url_2017, encoding="utf-8",
        thousands=" ",
        decimal=","
    )
    [2]
)

df_2017

         Liste des candidats     Voix  % Inscrits  % Exprimés
0         M. Emmanuel MACRON  8656346       18.19       24.01
1          Mme Marine LE PEN  7678491       16.14       21.30
2         M. François FILLON  7212995       15.16       20.01
3      M. Jean-Luc MÉLENCHON  7059951       14.84       19.58
4            M. Benoît HAMON  2291288        4.82        6.36
5   M. Nicolas DUPONT-AIGNAN  1695000        3.56        4.70
6           M. Jean LASSALLE   435301        0.91        1.21
7         M. Philippe POUTOU   394505        0.83        1.09
8     M. François ASSELINEAU   332547        0.70        0.92
9       Mme Nathalie ARTHAUD   232384        0.49        0.64
10      M. Jacques CHEMINADE    65586        0.14        0.18

In [7]:
(pd
    .merge(df, df_2017, on="Liste des candidats", suffixes=('_2022', '_2017'))
    [["Liste des candidats", "Voix_2017", "Voix_2022"]]
    .assign(
        difference = lambda df_: df_["Voix_2022"] - df_["Voix_2017"],
        pct = lambda df_: df_["Voix_2022"] / df_["Voix_2017"] - 1
    )
    .set_index("Liste des candidats")
    .style
        .format(thousands=" ",
            formatter={'pct': fmt_pct}
#            formatter = {('difference'): lambda x: "🔼 "+str(x) if x > 0 else "🔽 "+str(x) }
        )
)

In [8]:
base_rate = 35419227/37003728 - 1

fmt_pct(base_rate)

'-4.28%'

In [9]:
base_rate_inscrits = 47311922/47568693 - 1

fmt_pct(base_rate_inscrits)

'-0.54%'