In [1]:
url = "https://assets-decodeurs.lemonde.fr/decodeurs/assets/[D%C3%A9codeurs]%20Liste%20des%20missions%20de%20conseil/[De%CC%81codeurs]_Consultocratie___la_liste_des_missions_-_Listes_des_missions.csv"

In [2]:
import pandas as pd

In [3]:
def pretty(styler):
    styler.format(precision=2, thousands=" ")
    return styler

In [4]:
pd.set_option("display.float_format", lambda x: '{:,.2f}'.format(x).replace(",", " "))

In [5]:
df = pd.read_csv(url, dtype="string")

In [6]:
missions = (df
    .assign(**{
        "Montant (€)": lambda df: df["Montant (€)"].str.replace(" ","")
    })
    .astype({
        "Montant (€)": "float64"
    })
)

missions.dtypes

Source                     string
Intitulé court             string
Intitulé long              string
Détails                    string
Catégorie                  string
Acheteur                   string
Ministère rattachement     string
Type entité                string
Cabinet attributaire       string
Année                      string
Date d'attribution         string
Montant (€)               float64
HT ou TTC                  string
lien source                string
dtype: object

In [7]:
missions["Source"].value_counts()

CE       1331
BOAMP     169
DECP       81
Autre       2
Name: Source, dtype: Int64

In [8]:
missions["Ministère rattachement"].value_counts()

Economie                               325
Santé                                  235
Matignon                               205
Armées                                 144
Transformation et Fonction publique    111
Agriculture                            110
Ecologie                                93
Travail                                 87
Justice                                 59
Culture                                 51
Intérieur                               50
Education Nationale                     29
Affaires étrangères                     20
Transformation et Fonction Publique      6
Cohésion des territoires                 5
Enseignement Supérieur                   4
Transports                               1
Name: Ministère rattachement, dtype: Int64

In [9]:
missions["Acheteur"].str.contains("DINUM")

0       False
1       False
2       False
3       False
4       False
        ...
1578    False
1579    False
1580    False
1581    False
1582    False
Name: Acheteur, Length: 1583, dtype: boolean

In [10]:
dinum = (missions
    [ missions["Acheteur"].str.contains("DINUM") ]
)

dinum.sample().T

                                                                      507
Source                                                                 CE
Intitulé court          Accompagnement dans la conception de services ...
Intitulé long           Accompagnement de la DINSIC dans le développem...
Détails                                                              <NA>
Catégorie                                       Accompagnement de projets
Acheteur                Direction interministérielle du numérique (DIN...
Ministère rattachement                                           Matignon
Type entité                                                     Ministère
Cabinet attributaire                                      Octo Technology
Année                                                                2018
Date d'attribution                                             07/08/2018
Montant (€)                                                    390 240.00
HT ou TTC                                                             TTC
lien source             http://www.senat.fr/commission/enquete/2021_in...

In [11]:
dinum['Montant (€)'].sum()

34864245.0

In [12]:
(missions
 .groupby("Acheteur")
 .sum()
 .sort_values(by="Montant (€)", ascending=False)
)

                                                     Montant (€)
Acheteur
Caisse des Dépôts et Consignations                392 097 653.00
UGAP                                              217 000 000.00
Services du Premier Ministre                      100 288 200.00
Ministère des armées                               98 440 554.00
Ministère de l'économie                            69 988 814.00
...                                                          ...
ARS de Corse                                                0.00
Direction générale des entreprises du ministèr...           0.00
Ministère de la Transition écologique                       0.00
MINES ParisTech                                             0.00
Institut national de l'audiviosuel (INA)                    0.00

[113 rows x 1 columns]

In [13]:
(missions
    [["Montant (€)"]]
    .sum()
)

Montant (€)   1 996 076 659.00
dtype: float64

In [14]:
(missions
    .groupby("Source")
    [["Montant (€)"]]
    .sum()
    .sort_values(by=["Montant (€)"], ascending=False)
    .style.pipe(pretty)
)