In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('~/Downloads/RP2018_LOGEMTZA_csv/FD_LOGEMTZA_2018.csv', sep= ";")

/Users/tk/.virtualenvs/datascience/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,2,64) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df.head()

,COMMUNE,ARM,IRIS,ACHL,AEMM,AEMMR,AGEMEN8,ANEM,ANEMR,ASCEN,...,STOCD,SURF,TACTM,TPM,TRANSM,TRIRIS,TYPC,TYPL,VOIT,WC
0,75056,75101,751010101,C114,2014,9,25,6,2,2,...,10,6,11,1,5,750011,1,1,2,Z
1,75056,75101,751010101,A11,2008,9,25,12,3,1,...,30,6,11,1,5,750011,3,2,1,Z
2,75056,75101,751010101,A11,2012,9,25,7,2,1,...,23,4,11,1,6,750011,3,2,0,Z
3,75056,75101,751010101,A12,2002,9,40,17,3,2,...,21,3,11,1,6,750011,1,2,0,Z
4,75056,75101,751010101,A11,2000,9,40,19,3,2,...,10,1,11,1,2,750011,3,2,1,Z

In [14]:
df.shape

(2851130, 69)

- source : https://www.insee.fr/fr/statistiques/fichier/5542867/RP2018_LOGEMTZA_csv.zip
- dictionnaire des variables : https://www.insee.fr/fr/statistiques/5542867?sommaire=5395764#dictionnaire

## À faire

- [ ] regroupement par code commune INSEE (python)
    - [ ] filtrer pour ne garder que les arrondissements de paris
    - [ ] profil sociodémographique
    - [ ] faire un indicateur pour classer les différents arrondissements
- [ ] exporter en CSV et le mettre sur data.gouv.fr
- [ ] récupérer le profil type des habitants de logements sociaux (python ou observable)
- [ ] voir l'impact sur le profil sociodémographique si on remplit les logements vacants avec le profil socio-démographique des quartiers les plus pauvres (python ou observable)